* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(135deg, blue, pink);
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.loader {
  display: flex;
  justify-content: space-evenly;
  padding: 0 20px;
}
.loading {
  font-size: 30px;
  color: #fff;
  animation: load 0.8s ease infinite;
}
.loading.one {
  animation-delay: 0.3s;
}
.loading.two {
  animation-delay: 0.4s;
}
.loading.three {
  animation-delay: 0.5s;
}
@keyframes load {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.67);
  }
}
